[Unit]
Description=Daemon for the backup stream

[Service]
# You may need to change the below
ExecStart=/home/Kishan/charity-events/backup-stream/defaultScreen.sh
WorkingDirectory=/home/Kishan/charity-events/backup-stream
Restart=on-failure

[Install]
WantedBy=multi-user.target